In [1]:
import pandas as pd
import numpy as np

In [2]:
from numpy.random import randn
np.random.seed(101)

In [3]:
df = pd.DataFrame(randn(5,4), index='A B C D E'.split(), columns='W X Y Z'.split())

In [4]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [5]:
bol = df > 0

In [6]:
df[bol]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118       NaN       NaN  0.605965
C       NaN  0.740122  0.528813       NaN
D  0.188695       NaN       NaN  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [19]:
df[df[['W','X']] > 1][['W','X']]

         W         X
A  2.70685       NaN
B      NaN       NaN
C      NaN       NaN
D      NaN       NaN
E      NaN  1.978757

In [20]:
df.reset_index(inplace=True)

In [21]:
df

  index         W         X         Y         Z
0     A  2.706850  0.628133  0.907969  0.503826
1     B  0.651118 -0.319318 -0.848077  0.605965
2     C -2.018168  0.740122  0.528813 -0.589001
3     D  0.188695 -0.758872 -0.933237  0.955057
4     E  0.190794  1.978757  2.605967  0.683509

In [22]:
col = 'RS PB SP MG SC'.split()

In [23]:
col

['RS', 'PB', 'SP', 'MG', 'SC']

In [26]:
df['Estado'] = col

In [30]:
df.drop('estado', axis=1, inplace=True)

KeyError: "['estado'] not found in axis"

In [31]:
df

  index         W         X         Y         Z Estado
0     A  2.706850  0.628133  0.907969  0.503826     RS
1     B  0.651118 -0.319318 -0.848077  0.605965     PB
2     C -2.018168  0.740122  0.528813 -0.589001     SP
3     D  0.188695 -0.758872 -0.933237  0.955057     MG
4     E  0.190794  1.978757  2.605967  0.683509     SC

In [33]:
df.set_index('Estado', inplace=True)

In [34]:
df

       index         W         X         Y         Z
Estado
RS         A  2.706850  0.628133  0.907969  0.503826
PB         B  0.651118 -0.319318 -0.848077  0.605965
SP         C -2.018168  0.740122  0.528813 -0.589001
MG         D  0.188695 -0.758872 -0.933237  0.955057
SC         E  0.190794  1.978757  2.605967  0.683509

In [35]:
df.drop('index', axis=1, inplace=True)

In [36]:
df

               W         X         Y         Z
Estado
RS      2.706850  0.628133  0.907969  0.503826
PB      0.651118 -0.319318 -0.848077  0.605965
SP     -2.018168  0.740122  0.528813 -0.589001
MG      0.188695 -0.758872 -0.933237  0.955057
SC      0.190794  1.978757  2.605967  0.683509