In [1]:
import numpy as np
import pandas as pd

In [2]:
# Níveis de índice
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [3]:
hier_index

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           codes=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [6]:
df = pd.DataFrame(np.random.randn(6,2), index=hier_index, columns=['A','B'])

In [7]:
df

             A         B
G1 1 -0.737281  1.876863
   2  0.808216 -1.036842
   3 -0.470600  1.521154
G2 1  0.094357  1.465464
   2  0.026717 -1.275747
   3 -1.348595  1.035993

In [8]:
df.index.names = ['Grupo','Números']

In [9]:
df

                      A         B
Grupo Números
G1    1       -0.737281  1.876863
      2        0.808216 -1.036842
      3       -0.470600  1.521154
G2    1        0.094357  1.465464
      2        0.026717 -1.275747
      3       -1.348595  1.035993

In [11]:
df.xs('G1')

                A         B
Números
1       -0.737281  1.876863
2        0.808216 -1.036842
3       -0.470600  1.521154

In [13]:
df.xs(1, level='Números')

              A         B
Grupo
G1    -0.737281  1.876863
G2     0.094357  1.465464